@import '~antd/dist/antd.css';

body {
  font-size: 13px;
  line-height: 1.2;
  color: #666;
  font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum,
    sans-serif;
  font-weight: 400;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* div {
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  word-break: break-all;
} */
